.profile {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  height: 230px;
  border: none;
  background: #ffffff;
  margin-top: -100px;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #eee;
  padding-bottom: 0;
}
body {
  background: #f9f9ff;
}
.profile-image {
  width: 120px;
  height: 120px;
}

.img-container {
}

.profile-menu a:hover {
  border-bottom: 2px solid seagreen;
  font-weight: 1000;
}

.profile-menu a {
  font-size: 17px;
  color: #000000;
}

.profile-nickname {
  color: rgb(148, 148, 148);
  font-size: 16px;
  margin-bottom: 10px;
}

.give-a-space {
  height: 20px;
}

.profile-detail a {
  color: #777777;
}

.profile-detail li {
  margin-bottom: 10px;
}

.posting-list .posting-title h3 {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.posting-list .posting-title h3:hover {
  color: #f8b600;
}

.posts-list {
  background: #ffffff;
  border: 1px solid #eee;
  height: 670px;
}

.posting-title {
  padding: 10px;
  width: 100%;
}

.add-trip {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.posting-profile {
  width: 60px;
  height: 60px;
}

.travel-box {
  zoom: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 16px;
  background-color: #fff;
  min-width: 270px;
  width: 270px;
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  float: left;
  margin-right: 15px;
}

.travel-box img {
  background-size: cover;
  border-radius: 0px;
  height: 65px;
  width: 65px;
}

.travel-item-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.post-bottom-bar > span {
  margin-left: 15px;
  padding: 3px;
  box-sizing: border-box;
}
.post-bottom-bar {
  min-height: 20px;
}

.trip-list-box {
  padding: 10px;
  background: #eee;
  border-radius: 3px;
}

.thumb-custom {
  overflow: hidden;
  height: 70%;
}

.thumb-custom img {
  width: 100%;
  height: 100%;
}

.thumb-review {
  overflow: hidden;
  height: 70%;
}

.thumb-review img {
  width: 100%;
  height: 50%;
}

.single-destinations {
  height: 80%;
}
